{% extends 'Layout/column.html.twig' %}

{% block title %}Clothin Time
{% endblock %}


{% block content %}
	<div >
		{% if not user %}
		<h1 class="Welcome">Welcome View</h1>
			<h2>Time to get the weather, right ?!</h2>
			{# <p class="desc">This app is a very original thingy that just gives the weather... (but a very special one, just for you ;)</p> #}
		{% endif %}
		{% if user %}
			<h2>
				Hello
				<strong>{{ user.pseudo }}</strong> 🥳 !
			</h2>
			
			{# <a href="/weather/show" class="button">My Weather</a> #}

			{% include 'Weather/_form.html.twig' %}

			<a href="/logout">
				<i class="bi bi-box-arrow-right"></i>
				Logout</a>

		{% else %}
			<a href="/login">Go to Login</a>
			or
			<a href="/register">Register an account</a>
		{% endif %}
	</div>
{% endblock %}
