<section class="col-md-6 offset-md-3">
        {% if error %}
        <p class="text-danger">{{error}}</p>
        {% endif %}
            <form method="get" action="weather/show">
			<div class="mb-3">
                <label for="city">Where are you located today ?</label>
                <input type="text" id="city" class="form-control" name="city" required>
			</div>
            <button type="submit" class="btn btn-success">Get Weather</button>
            </form>

            {# {<pre>
                {{ dump(weatherData) }}
            </pre>} #}

{# {% include 'Components/_animated_weather.html.twig' %} #}