<head>
	<meta charset="UTF-8">
	<title>Clothin Time</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="\public\assets\css\animated_weather_style_1.css">
</head>
<body>
	<div class="container">
		<div class="sunny"></div>
		<div class="cloudy"></div>
		<div class="rainy"></div>
		<div class="snowy"></div>
		<div class="rainbow"></div>
		<div class="starry"></div>
		<div class="stormy"></div>
	</div>
</body>
