<footer class="fixed-bottom">
	<a class="footer-link ms-auto" href="/">&copy; Clothin Time 2023</a>
	<a class="footer-link ms-auto" href="#"data-mdb-toggle="modal" data-mdb-target="#exampleModal">Contact</a>
</footer>

