<head>
	<meta charset="UTF-8">
	<title>Clothin Time</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="\public\assets\css\style.css">
</head>

<header>
  <a class="header-links" href="/">
    <img src="/assets/images/logo_CT.png" alt="Logo Clothing Time" width="200">
  </a>
</header>
