<header>

<nav class="navbar navbar-expand navbar-grey bg-grey shadow-0">
	<div class="container-fluid">
		{# <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button> #}
		<div class="navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav w-100">
				<li class="nav-item">
					<a class="nav-link" href="/">
						<i class="bi bi-house-door-fill"></i>
						Home</a>
				</li>
				{% if user %}
					<li class="nav-item dropdown ms-auto">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
							<i class="bi bi-person-circle"></i>
							{{ user.pseudo }}
						</a>
						<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
							<li>
								<a class="dropdown-item" href="/weather/show">My weather</a>
							</li>
							<li>
								<a class="dropdown-item" href="/logout">
									<i class="bi bi-box-arrow-right"></i>
									Logout</a>
							</li>
														<li>
								<a class="dropdown-item" href="/edit">
									<i class="bi bi-box-arrow-right"></i>
									Edit Profile</a>
							</li>
						</ul>
					</li>
				{% else %}
					<li class="nav-item ms-auto">
						<a class="nav-link" href="/login">Login</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/register">Register</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>

</header>
